@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: thin;
}

.ant-pagination {
   margin-top: 36px;
   text-align: center;
}

.ant-pagination-item-active {
    background-color: #1890FF;
    border-radius: 4px;
}

.ant-pagination-item-active a {
    color: #FFF;
}