@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: thin;
}

.ant-pagination {
  margin-top: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.ant-pagination-item-active {
  background-color: #1890ff;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: #fff;
}

.nav {
  width: 140px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.nav-button {
  width: 64px;
  height: 50px;
  font-size: 14px;
  line-height: 22px;
  border: none;
  outline: none;
  background-color: white;
}

.nav-button:hover,
.nav-button:focus {
  transition: background-color 1s;
  cursor: pointer;
  background-color: #e0ffff;
}

.nav-button__active {
  background-image: url('./images/R3.svg');
  background-position: bottom 0px right 0px;
  background-repeat: no-repeat;
}
