@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./fonts/Inter-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: thin;
}

.card__header-wrapper {
  display: flex;
}

.card__header-rating {
  margin: 8px -8px 0 0;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
}

.card__header-rating[data-color='1'] {
  border: 2px solid #e90000;
}
.card__header-rating[data-color='2'] {
  border: 2px solid #e97e00;
}
.card__header-rating[data-color='3'] {
  border: 2px solid #e9d100;
}
.card__header-rating[data-color='4'] {
  border: 2px solid #66e900;
}
.card__text-area {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  font-weight: 'normal';
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
  overflow-block: hidden;
}

.card__description {
  margin-top: -5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ant-rate {
  margin: auto 0 10px 5px;
}

.ant-rate-star {
  width: 15px;
}

.card__genres {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  margin-top: 5px;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.65);
  padding: 2px 4px 3px 5px;
  white-space: nowrap;
  max-width: fit-content;
}

.card__genres--wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 255px;
}

@media (min-width: 20px) and (max-width: 504px) {
  .card__date {
    color: #827e7e;
    margin: 0 0 0 60px;
  }

  .ant-rate {
    margin: auto 10px 0 auto;
  }

  .card__header-wrapper {
    margin: -15px 0 0 60px;
    display: flex;
  }

  .card__genres--wrap {
    margin: 0 0 12px 60px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 24px;
  }
  .card__image {
    width: 60px;
    height: 91px;
    position: absolute;
  }
  .card {
    background-color: #fff;
    width: 387px;
    max-height: 245px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    margin-top: 32px;
    padding: 6px 0 0 10px;
  }

  .card__header {
    max-width: 180px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 4px auto 0 0;
    line-height: 28px;
  }
  .card__text-area {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 'normal';
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    margin-top: 6px;
  }
}

@media (min-width: 505px) and (max-width: 1009px) {
  .card__image {
    width: 183px;
    height: 281px;
  }
  .card {
    background-color: #fff;
    width: 454px;
    max-height: 281px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    margin: 32px auto 0 auto;
  }

  .card__date {
    color: #827e7e;
    margin: 0;
  }

  .card__header {
    max-width: 180px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 12px auto 0 0;
    line-height: 28px;
  }
}

@media (min-width: 1010px) {
  .card__image {
    width: 183px;
    height: 281px;
  }
  .card {
    background-color: #fff;
    width: 454px;
    max-height: 281px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    margin-top: 32px;
    margin-left: 36px;
  }

  .card__date {
    color: #827e7e;
    margin: 0;
  }

  .card__header {
    max-width: 180px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 12px auto 0 0;
    line-height: 28px;
  }
}
