@media (min-width: 20px) and (max-width: 504px) {
  .search-form {
    width: 388px;
    margin: 0 auto 32px auto;
  }
}

@media (min-width: 505px) and (max-width: 1009px) {
  .search-form {
    width: 90%;
    margin: 0 auto 32px auto;
  }
}
@media (min-width: 1010px) {
  .search-form {
    width: 1010px;
    margin: 0 auto 32px auto;
  }
}

.search-form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}
